---
http_interactions:
- request:
    method: get
    uri: http://api.nbp.pl/api/exchangerates/rates/a/EUR/2021-06-01?format=json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"5V/T79V9dugcUYjpDoz9OF8pleRSjLUTCXNxSGp2AyY="'
    body:
      encoding: ASCII-8BIT
      string: '{"table":"A","currency":"euro","code":"EUR","rates":[{"no":"104/A/NBP/2021","effectiveDate":"2021-06-01","mid":4.4749}]}'
  recorded_at: Sun, 06 Jun 2021 10:23:28 GMT
recorded_with: VCR 6.0.0
